/* Ocultar barra de scroll para Chrome, Safari y Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Ocultar barra de scroll para Firefox, IE y Edge */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
}